<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />

<link href="/css/reset.css" th:href="@{/css/reset.css}" rel="stylesheet" />
<link href="/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />

<title>エンジニアファーストショップ</title>
</head>
<body>

<header th:insert="fragments/page_header::pageHeader"></header>

<main>

	<div class="container">
		<h2>新規ユーザー登録</h2>
		
		<table id="register" class="user">
			<tr>
				<th>氏名</th>
				<td>
					<input type="text" name="familyName" placeholder="山田" maxlength="16" />
					<input type="text" name="firstName" placeholder="太郎" maxlength="16" />
				</td>
			</tr>
			<tr>
				<th>氏名ふりがな</th>
				<td>
					<input type="text" name="familyNameKana" placeholder="やまだ" maxlength="16" />
					<input type="text" name="firstNameKana" placeholder="たろう" maxlength="16" />
				</td>
			</tr>
			<tr>
				<th>性別</th>
				<td>
					<label><input type="radio" name="gender" value="男性" checked />男性</label>
					<label><input type="radio" name="gender" value="女性" />女性</label>
				</td>
			</tr>
			<tr>
				<th>ユーザー名<br /><span class="note">（メールアドレス）</span></th>
				<td>
					<input type="email" name="userName" placeholder="myaccount@abc.com" maxlength="32" />
					<button id="checkUserName">重複確認</button>
					<span id="checkOK" class="hidden">OK</span>
				</td>
			</tr>
			<tr>
				<th>パスワード<br /><span class="note">（半角英数字 6～16文字）</span></th>
				<td>
					<input type="password" name="password" placeholder="パスワード" maxlength="16" />
				</td>
			</tr>
			<tr>
				<th class="buttonArea">
					<span class="info hidden">登録が完了しました。</span>
				</th>
				<th class="buttonArea">
					<button id="confirm" disabled>確認</button>
				</th>
			</tr>
		</table>
	
	</div>
	
	<div th:insert="fragments/dialog_duplicated_user_name::dialogDuplicatedUserName"></div>
	
	<div th:insert="fragments/dialog_input_user_error::dialogInputUserError"></div>
	
	<div th:insert="fragments/dialog_input_user_confirm::dialogInputUserConfirm"></div>

</main>

<script>
const errorSelector = {
	'姓': '.familyNameError',
	'名': '.firstNameError',
	'姓ふりがな': '.familyNameKanaError',
	'名ふりがな': '.firstNameKanaError',
	'ユーザー名': '.userNameError',
	'パスワード': '.passwordError',
};

$(() => {
	$('#duplicatedUserName').dialog(dialogConfig.duplicatedUserName);
	$('#inputUserError').dialog(dialogConfig.inputUserError);
	$('#inputUserConfirm').dialog(dialogConfig.inputUserConfirm);
	
	$('button#checkUserName').on('click', () => {
		let userName = $('table#register input[name=userName]').val();
		if (isEmpty(userName)) return;
		checkUserName(userName);
	});
	
	$('button#confirm').on('click', () => {
		let errInfo = validate({
			'familyName': checker.familyName,
			'firstName': checker.firstName,
			'familyNameKana': checker.familyNameKana,
			'firstNameKana': checker.firstNameKana,
			'gender': null,
			'userName': checker.userName,
			'password': checker.password,
		});
		if (errInfo.isError) {
			createErrorDialog(errInfo.errMsg);
			$("#inputUserError").dialog("open");
		} else {
			createConfirmDialog({
				'familyName': checker.familyName,
				'firstName': checker.firstName,
				'familyNameKana': checker.familyNameKana,
				'firstNameKana': checker.firstNameKana,
				'gender': null,
				'userName': checker.userName,
				'password': checker.password,
			});
			$("#inputUserConfirm").dialog("open");
		}
	});
});

function checkUserName(userName) {
	let errInfo = validate({ 'userName': checker.userName });
	if (errInfo.isError) {
			createErrorDialog(errInfo.errMsg);
			$("#inputUserError").dialog("open");
			return;
		}
	
	$.ajax({
		type: 'POST',
		url: '/peach/user/duplicatedUserName',
		data: JSON.stringify({'userName': userName}),
		contentType: 'application/json',
	})
	
	.then((result) =>{
		if(result) {
			$('button#confirm').prop('disabled', true);
			$("#duplicatedUserName").dialog("open");
			$('span#checkOK').prop('class', 'hidden');
		} else {
			$('button#confirm').prop('disabled', false);
			$('span#checkOK').prop('class', 'info');
		}		
		
	}, () => {
		alert('Error: ajax connection failed.');
	});
}
</script>

</body>
</html>